{% extends "base.html" %}{% load static %}{% block content %}
<!-- projects -->
<div class="choose">
  <div class="choose_bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage text_align_center">
            <h2>Why choose People</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="comp text_align_left">
            <i><img src="{% static "images/cho_icon1.png" %}" alt="#" /></i>
            <h3>1000</h3>
            <span>Company</span>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="comp text_align_left">
            <i><img src="{% static "images/cho_icon2.png" %}" alt="#" /></i>
            <h3>1000</h3>
            <span>Lock Installed</span>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="comp text_align_left">
            <i><img src="{% static "images/cho_icon3.png" %}" alt="#" /></i>
            <h3>1000</h3>
            <span>Sell CCTV</span>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="comp text_align_left">
            <i><img src="{% static "images/cho_icon4.png" %}" alt="#" /></i>
            <h3>1000</h3>
            <span>Happy Customers</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-with">
    <div class="row">
      <div class="col-md-12">
        <div class="cctv">
          <figure><img src="{% static "images/cctv.png" %}" alt="#" /></figure>
          <a class="read_more" href="javascript:void(0)">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end choose -->

{% endblock %}
