{% extends "base.html" %} {% load static %}{% block content %}
<div class="about">
  <div class="container">
    <div class="row d_flex d_grid">
      <div class="col-md-5 offset-md-1 order_1_mobile">
        <div class="titlepage text_align_left">
          <h2>Cámaras</h2>
          <div class="col-md-12">
            <div class="see_camera">
              <a class="read_more" href="{% url 'registrar_camara' %}"
                >Registrar Cámara</a
              >
            </div>
          </div>
          <br />
          <div class="form-group">
            <label for="camera">Seleccionar Cámara:</label>
            <form method="post" action="{% url 'capturavideo' %}">
              {% csrf_token %}
              <select class="form-control" id="camara" name="camara">
                {% for camara in camaras %}
                <option value="{{ camara.id }}">{{ camara.nombreC }}</option>
                {% endfor %}
              </select>
              <button type="submit" class="read_more m-4">
                Iniciar Reconocimiento
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-5 offset-md-1 order_1_mobile">
        <div class="titlepage text_align_left">
          <h2>Resultados</h2>
          <div class="col-md-12">
            <div class="row see_camera">
              <a class="read_more" href="{% url 'reconocimiento_facial' %}"
                >Cargar Registro</a
              >
              <a class="read_more" href="{% url 'eliminarregistro' %}"
                >Eliminar Registro</a
              >
            </div>
          </div>
          <br />
          <table class="table">
            <thead>
              <tr>
                <th>Imagen Capturada</th>

                <th>Nombre</th>
                <th>Fecha y Hora</th>
              </tr>
            </thead>
            <tbody>
              {% for registro in registros %}
              <tr>
                <td>
                  <img
                    style="
                      object-fit: cover;
                      max-width: 50px;
                      max-height: 50px;
                      width: auto;
                      height: auto;
                    "
                    src="{{ registro.imagen_capturada.url }}"
                    alt="#"
                  />
                </td>
                {% if registro.persona is None %}
                <td>Desconocido</td>
                {% else %}
                <td>{{ registro.persona.nombre }}</td>

                {% endif %}
                <td>{{ registro.fecha_hora }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
