{% extends "base.html" %} {% load static %} {% block content %}
      <!-- cameras -->
      <div class="cameras">
         <div class="container-max">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>Listado de Videos Capturados</h2>
                  </div>
               </div>
            </div>
                  <div class="row">
                     {% for video in videos %}
                     <div class="col-md-3">
                        <div id="ho_bg" class="cameras_text">
                            <div class="cameras_img text_align_center">
                             <figure>
                               <video  width="300" height="300" controls>
                                 <source src="{{ video.file.url }}" type="video/mp4">
                                 Tu navegador no soporta la reproducción de videos.
                             </video>
                             </figure>

                            </div>
                              <a href="{{ video.file.url }}" target="_blank"><p> {{ video.title }}</p></a>                          
                            <form action="{% url 'eliminar_video' video.id %}" method="POST" style="display:inline;">
                              {% csrf_token %}
                              <button class="read_more" type="submit">Eliminar</button>
                          </form>
                       
                        </div>
                     </div>
                    
                 {% endfor %}
                 
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end cameras -->
   
{% endblock %}